.in-line {
    padding-left: .5em;
    display: flex;
    justify-content: flex-start;
}

.between-rounds {
    margin-right: 7em;
}

.pad {
    padding: .5em;
}

.button-color{
    background-color: var(--bright-gold);
    color: white;
    height: 2.5em;
    position: relative;
    left: 48%;
    margin: 1em 0em;
}