.card-background{
    background-color: var(--bright-gold);
    width: 35vh;
    border-radius: 10px;
}

.format-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#fanFavImg{
    height: 70vh;
    width: 35vh;
    z-index: 0;
    object-fit: cover;
    object-position: 60% 50%;
}