
link{
    display: block;
}

.button {
    display: block;
    contain: strict;
    min-width: 100%;
    min-height: 100%;
    border: none;
}

.button:hover {
    background-color: blue;
    border-radius: 16px;
}

#masvidal{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 5em;
    object-fit: cover;
    object-position: 51% 0%;
}

#wonderboy{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 5em;
    object-fit: cover;
    object-position: 45% 0%;
}