.together {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5em;
    height: 60vh;
}


#showtime{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 6em;
    object-fit: cover;
    object-position: 75% 50%;
}

#john{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 6em;
    object-fit: cover;
    object-position: 30% 50%;
}