/* Color Palette */
:root {
    --bright-gold: #C49C74;
    --dim-gold: #A17B55;
    --gold-shadow: #716150;
    --red: #A70E0E;
    --blue: #1B1EAB;
    --background-gray: #575454;
    --off-whtie: #F6F6F6;
    --white: #ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: var(--white);
    /* color: black; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 0 auto;
    min-height: 100vh;
}

header,
section {
    margin: 0 5rem;
}

select,
option {
    color: black;
}
/* This is for score cards, used on both UserPage and EventCardPage
.score-card {
    display: flex;
} */

label,
input{
    color: black
}

.format {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centerize{
    width: 50%;
    background-color: #575454;
    margin-top: 5em;
}


.true-center {
    display: flex;
    justify-content: center;
    padding: 1em;
}


.flex {
    display: flex;
    overflow: hidden;
}

.side {
    width: 25%;
    height: 100vh;
}

.blurbs{
    width: 60%;
    background-color: var(--bright-gold);
    border-radius: 16px;
    margin-top: 5em;
}