
.shadow {
    background-color: var(--dim-gold);
    height: 2em;
}

.fit {
    width: 75%;
    margin: 1em 0;
}

.line{
    width: 80%;
    margin-left: 10%;
    border: 1px solid var(--dim-gold);
    margin-bottom: 1em;
}

.accuracy{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 37px;
    height: 7em;
    width: 7em;
}

.my{
    display: flex;
    align-items: flex-end;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin: 2em 10%;
}


#weili{
    height: 890px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 5em;
    object-fit: cover;
    object-position: 55% 50%;
}

#gaethje{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 5em;
    object-fit: cover;
    object-position: 56% 50%;
}