.userpage-pics {
    background-image: url("https://cdn.vox-cdn.com/thumbor/oLb01X0lJDBBrlSHfqirhA2CkOs=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/24197951/1441085929.jpg"),
    url("https://s.yimg.com/os/creatr-uploaded-images/2021-11/e17af310-3d97-11ec-973b-e8502e4ddcfb");
    background-repeat: no-repeat;
    height: 80%, 80%;
    background-attachment: fixed, fixed;
    background-size: contain, contain;
    background-position: top 5em left -26em, top 4em right -26em;
}
/* Background size for adjusting size */

.shadow {
    background-color: var(--dim-gold);
    height: 2em;
}

.fit {
    width: 75%;
    margin: 1em 0;
}

.line{
    width: 80%;
    margin-left: 10%;
    border: 1px solid var(--dim-gold);
    margin-bottom: 1em;
}

.accuracy{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 37px;
    height: 7em;
    width: 7em;
}

.my{
    display: flex;
    align-items: flex-end;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin: 2em 10%;
}