
link{
    display: block;
}

.button {
    display: block;
    contain: strict;
    min-width: 100%;
    min-height: 100%;
    border: none;
    height: 3em;
}

.button:hover {
    background-color: blue;
    border-radius: 16px;
}

#sugar{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 5em;
    object-fit: cover;
    object-position: 45% 0%;
}

#lioness{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 5em;
    object-fit: cover;
    object-position: 45% 50%;
}


.red {
    width: 400px;
    height: 400px;
    margin: 1em auto;
    position: relative;
}
.red:after {
    content: '';
    position: fixed;
    top: 6em;
    left: 0;
    width: 25%;
    height: 100%;
    background: rgba(140, 0, 0, 0.55);
}


.blue {
    width: 400px;
    height: 400px;
    margin: 1em auto;
    position: relative;
}
.blue:after {
    content: '';
    position: fixed;
    top: 6em;
    right: 0;
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 140, 0.55);
}
