
link{
    display: block;
}

.button {
    display: block;
    contain: strict;
    min-width: 100%;
    min-height: 100%;
    border: none;
    height: 3em;
}

.button:hover {
    background-color: blue;
    border-radius: 16px;
}

#sugar{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 6em;
    object-fit: cover;
    object-position: 45% 0%;
}

#lioness{
    height: 880px;
    width: 480px;
    position: fixed;
    z-index: -2;
    margin-top: 6em;
    object-fit: cover;
    object-position: 45% 50%;
}