

.centerize{
    /* display: flex;
    justify-content: center; */
    width: 50%;
    background-color: #575454;
    /* margin-left: 20%; */
}


.format-ecp {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}

.true-center {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.pics {
    background-image: url("https://cdn.vox-cdn.com/thumbor/rRlEmsLdcLoUgz4TBCxz8W70unQ=/454x568:2986x2555/1200x800/filters:focal(1233x556:1867x1190)/cdn.vox-cdn.com/uploads/chorus_image/image/70007491/1338319637.0.jpg"), 
    url("");
    background-repeat: no-repeat, no repeat;
    height: 100%;
    background-attachment: fixed;
    background-size: contain;
    background-position: top 6em left -25em
}

.flex {
    display: flex;
    overflow: hidden;
}

.side {
    width: 25%;
    height: 100vh;

}

.fixed{
    position: absolute;
}